body.colorscheme-dark .bg {
  color: #b0c4de;
  background-color: #282c34; }

body.colorscheme-dark .chroma {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  color: #b0c4de;
  background-color: #282c34; }
  body.colorscheme-dark .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit; }
  body.colorscheme-dark .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }
  body.colorscheme-dark .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  body.colorscheme-dark .chroma .hl {
    background-color: #ffffcc; }
  body.colorscheme-dark .chroma .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #58626f; }
  body.colorscheme-dark .chroma .ln {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #58626f; }
  body.colorscheme-dark .chroma .line {
    display: flex; }
  body.colorscheme-dark .chroma .k {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .kc {
    color: #e5c07b; }
  body.colorscheme-dark .chroma .kd {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .kn {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .kp {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .kr {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .kt {
    color: #e5c07b; }
  body.colorscheme-dark .chroma .n {
    color: #dadada; }
  body.colorscheme-dark .chroma .na {
    color: #cebc3a; }
  body.colorscheme-dark .chroma .nb {
    color: #e5c07b; }
  body.colorscheme-dark .chroma .bp {
    color: #aa89ea; }
  body.colorscheme-dark .chroma .nc {
    color: #ca72ff; }
  body.colorscheme-dark .chroma .no {
    color: #aa89ea;
    font-weight: bold; }
  body.colorscheme-dark .chroma .nd {
    color: #e5c07b; }
  body.colorscheme-dark .chroma .ni {
    color: #bda26f; }
  body.colorscheme-dark .chroma .ne {
    color: #fd7474;
    font-weight: bold; }
  body.colorscheme-dark .chroma .nf {
    color: #00b1f7; }
  body.colorscheme-dark .chroma .fm {
    color: #aa89ea; }
  body.colorscheme-dark .chroma .nl {
    color: #f5a40d; }
  body.colorscheme-dark .chroma .nn {
    color: #ca72ff; }
  body.colorscheme-dark .chroma .nx {
    color: #aa89ea; }
  body.colorscheme-dark .chroma .py {
    color: #cebc3a; }
  body.colorscheme-dark .chroma .nt {
    color: #76a9f9; }
  body.colorscheme-dark .chroma .nv {
    color: #dcaeea; }
  body.colorscheme-dark .chroma .vc {
    color: #dcaeea; }
  body.colorscheme-dark .chroma .vg {
    color: #dcaeea;
    font-weight: bold; }
  body.colorscheme-dark .chroma .vi {
    color: #e06c75; }
  body.colorscheme-dark .chroma .vm {
    color: #dcaeea; }
  body.colorscheme-dark .chroma .l {
    color: #98c379; }
  body.colorscheme-dark .chroma .ld {
    color: #98c379; }
  body.colorscheme-dark .chroma .s {
    color: #98c379; }
  body.colorscheme-dark .chroma .sa {
    color: #98c379; }
  body.colorscheme-dark .chroma .sb {
    color: #98c379; }
  body.colorscheme-dark .chroma .sc {
    color: #98c379; }
  body.colorscheme-dark .chroma .dl {
    color: #98c379; }
  body.colorscheme-dark .chroma .sd {
    color: #7e97c3; }
  body.colorscheme-dark .chroma .s2 {
    color: #63c381; }
  body.colorscheme-dark .chroma .se {
    color: #d26464;
    font-weight: bold; }
  body.colorscheme-dark .chroma .sh {
    color: #98c379; }
  body.colorscheme-dark .chroma .si {
    color: #98c379; }
  body.colorscheme-dark .chroma .sx {
    color: #70b33f; }
  body.colorscheme-dark .chroma .sr {
    color: #56b6c2; }
  body.colorscheme-dark .chroma .s1 {
    color: #98c379; }
  body.colorscheme-dark .chroma .ss {
    color: #56b6c2; }
  body.colorscheme-dark .chroma .m {
    color: #d19a66; }
  body.colorscheme-dark .chroma .mb {
    color: #d19a66; }
  body.colorscheme-dark .chroma .mf {
    color: #d19a66; }
  body.colorscheme-dark .chroma .mh {
    color: #d19a66; }
  body.colorscheme-dark .chroma .mi {
    color: #d19a66; }
  body.colorscheme-dark .chroma .il {
    color: #d19a66; }
  body.colorscheme-dark .chroma .mo {
    color: #d19a66; }
  body.colorscheme-dark .chroma .o {
    color: #54b1c7; }
  body.colorscheme-dark .chroma .ow {
    color: #b756ff;
    font-weight: bold; }
  body.colorscheme-dark .chroma .p {
    color: #abb2bf; }
  body.colorscheme-dark .chroma .c {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .ch {
    color: #8a93a5;
    font-weight: bold; }
  body.colorscheme-dark .chroma .cm {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .c1 {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .cs {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .cp {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .cpf {
    color: #8a93a5; }
  body.colorscheme-dark .chroma .ge {
    font-style: italic; }
  body.colorscheme-dark .chroma .gh {
    color: #a2cbff;
    font-weight: bold; }
  body.colorscheme-dark .chroma .gi {
    color: #a6e22e; }
  body.colorscheme-dark .chroma .go {
    color: #a6e22e; }
  body.colorscheme-dark .chroma .gp {
    color: #a6e22e; }
  body.colorscheme-dark .chroma .gs {
    font-weight: bold; }
  body.colorscheme-dark .chroma .gu {
    color: #a2cbff; }
  body.colorscheme-dark .chroma .gt {
    color: #a2cbff; }
  body.colorscheme-dark .chroma .gl {
    text-decoration: underline; }

@media (prefers-color-scheme: dark) {
  body.colorscheme-auto .bg {
    color: #b0c4de;
    background-color: #282c34; }
  body.colorscheme-auto .chroma {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    color: #b0c4de;
    background-color: #282c34; }
    body.colorscheme-auto .chroma .lnlinks {
      outline: none;
      text-decoration: none;
      color: inherit; }
    body.colorscheme-auto .chroma .lntd {
      vertical-align: top;
      padding: 0;
      margin: 0;
      border: 0; }
    body.colorscheme-auto .chroma .lntable {
      border-spacing: 0;
      padding: 0;
      margin: 0;
      border: 0; }
    body.colorscheme-auto .chroma .hl {
      background-color: #ffffcc; }
    body.colorscheme-auto .chroma .lnt {
      white-space: pre;
      user-select: none;
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
      color: #58626f; }
    body.colorscheme-auto .chroma .ln {
      white-space: pre;
      user-select: none;
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
      color: #58626f; }
    body.colorscheme-auto .chroma .line {
      display: flex; }
    body.colorscheme-auto .chroma .k {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .kc {
      color: #e5c07b; }
    body.colorscheme-auto .chroma .kd {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .kn {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .kp {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .kr {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .kt {
      color: #e5c07b; }
    body.colorscheme-auto .chroma .n {
      color: #dadada; }
    body.colorscheme-auto .chroma .na {
      color: #cebc3a; }
    body.colorscheme-auto .chroma .nb {
      color: #e5c07b; }
    body.colorscheme-auto .chroma .bp {
      color: #aa89ea; }
    body.colorscheme-auto .chroma .nc {
      color: #ca72ff; }
    body.colorscheme-auto .chroma .no {
      color: #aa89ea;
      font-weight: bold; }
    body.colorscheme-auto .chroma .nd {
      color: #e5c07b; }
    body.colorscheme-auto .chroma .ni {
      color: #bda26f; }
    body.colorscheme-auto .chroma .ne {
      color: #fd7474;
      font-weight: bold; }
    body.colorscheme-auto .chroma .nf {
      color: #00b1f7; }
    body.colorscheme-auto .chroma .fm {
      color: #aa89ea; }
    body.colorscheme-auto .chroma .nl {
      color: #f5a40d; }
    body.colorscheme-auto .chroma .nn {
      color: #ca72ff; }
    body.colorscheme-auto .chroma .nx {
      color: #aa89ea; }
    body.colorscheme-auto .chroma .py {
      color: #cebc3a; }
    body.colorscheme-auto .chroma .nt {
      color: #76a9f9; }
    body.colorscheme-auto .chroma .nv {
      color: #dcaeea; }
    body.colorscheme-auto .chroma .vc {
      color: #dcaeea; }
    body.colorscheme-auto .chroma .vg {
      color: #dcaeea;
      font-weight: bold; }
    body.colorscheme-auto .chroma .vi {
      color: #e06c75; }
    body.colorscheme-auto .chroma .vm {
      color: #dcaeea; }
    body.colorscheme-auto .chroma .l {
      color: #98c379; }
    body.colorscheme-auto .chroma .ld {
      color: #98c379; }
    body.colorscheme-auto .chroma .s {
      color: #98c379; }
    body.colorscheme-auto .chroma .sa {
      color: #98c379; }
    body.colorscheme-auto .chroma .sb {
      color: #98c379; }
    body.colorscheme-auto .chroma .sc {
      color: #98c379; }
    body.colorscheme-auto .chroma .dl {
      color: #98c379; }
    body.colorscheme-auto .chroma .sd {
      color: #7e97c3; }
    body.colorscheme-auto .chroma .s2 {
      color: #63c381; }
    body.colorscheme-auto .chroma .se {
      color: #d26464;
      font-weight: bold; }
    body.colorscheme-auto .chroma .sh {
      color: #98c379; }
    body.colorscheme-auto .chroma .si {
      color: #98c379; }
    body.colorscheme-auto .chroma .sx {
      color: #70b33f; }
    body.colorscheme-auto .chroma .sr {
      color: #56b6c2; }
    body.colorscheme-auto .chroma .s1 {
      color: #98c379; }
    body.colorscheme-auto .chroma .ss {
      color: #56b6c2; }
    body.colorscheme-auto .chroma .m {
      color: #d19a66; }
    body.colorscheme-auto .chroma .mb {
      color: #d19a66; }
    body.colorscheme-auto .chroma .mf {
      color: #d19a66; }
    body.colorscheme-auto .chroma .mh {
      color: #d19a66; }
    body.colorscheme-auto .chroma .mi {
      color: #d19a66; }
    body.colorscheme-auto .chroma .il {
      color: #d19a66; }
    body.colorscheme-auto .chroma .mo {
      color: #d19a66; }
    body.colorscheme-auto .chroma .o {
      color: #54b1c7; }
    body.colorscheme-auto .chroma .ow {
      color: #b756ff;
      font-weight: bold; }
    body.colorscheme-auto .chroma .p {
      color: #abb2bf; }
    body.colorscheme-auto .chroma .c {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .ch {
      color: #8a93a5;
      font-weight: bold; }
    body.colorscheme-auto .chroma .cm {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .c1 {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .cs {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .cp {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .cpf {
      color: #8a93a5; }
    body.colorscheme-auto .chroma .ge {
      font-style: italic; }
    body.colorscheme-auto .chroma .gh {
      color: #a2cbff;
      font-weight: bold; }
    body.colorscheme-auto .chroma .gi {
      color: #a6e22e; }
    body.colorscheme-auto .chroma .go {
      color: #a6e22e; }
    body.colorscheme-auto .chroma .gp {
      color: #a6e22e; }
    body.colorscheme-auto .chroma .gs {
      font-weight: bold; }
    body.colorscheme-auto .chroma .gu {
      color: #a2cbff; }
    body.colorscheme-auto .chroma .gt {
      color: #a2cbff; }
    body.colorscheme-auto .chroma .gl {
      text-decoration: underline; } }

/*# sourceMappingURL=highlight-dark.css.map */